{% extends 'accounts/base.html' %}
{% block content %}
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <div class="field-group">
            <span class="fa fa-email" aria-hidden="true"></span>
            <div class="wthree-field">
                <input name="email" id="myInput" type="fa-email" placeholder="email">
            </div>
        </div>
         
         <div class="wthree-field">                                   
            <button type="submit" class="btn">
               Request Password reset
           </button>   
        </div>  
    </form>
</div>
{% endblock %}
