{% extends 'accounts/base.html' %}
{% block content %}
<div class="main">
<section class="organic-breadcrumb" id="productpage_header">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                  <span style="padding-left: 50%; padding-right: 50%">
                      <div class="col-first">
                        <h1>Password change</h1>
                        </span>
                      </div>
            </div>
    </section>
	<h4>Activation Invalid</h4>
</span>
</div>
{% endblock %}

{#{% extends 'accounts/base.html' %}#}
{#{% block content %}#}
{#	<h4>Activation Invalid</h4>#}
{#{% endblock %}#}
