{% extends "handy/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/changepassword.css' %}">
</head>

<section class="organic-breadcrumb" id="productpage_header">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Change Account Information</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'handy-home' %}">Home &emsp;</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="content-section">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Change Password</button>
    </form>
</section>

{% endblock content %}