{% extends "accounts/base.html" %}
{% block content %}
    <div class="content">

            <div class="text-center icon">
                <span class="fa fa-html5"></span>
            </div>
            <div class="content-bottom">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="field-group">
                            <span class="fa fa-user" aria-hidden="true"></span>

                            <div class="wthree-field">
                                <input name="username" id="text1" type="text" value="" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="field-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="password" id="myInput" type="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="wthree-field">
                            <button type="submit" class="btn">Login</button>
                        </div>
                    </form>
                    
                    <ul class="list-login">
                        <li class="switch-agileits">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                keep Logged in
                            </label>
                        </li>
                        <li>
                            <a href="{% url 'password_reset' %}" class="text-right">forgot password?</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                    <ul class="list-login-bottom">
                        <li class="">
                            <a href="{% url 'signup' %}" class="">Create Account</a>
                        </li>
                        <li class="clearfix"></li>
                    </ul>
                </form>
            </div>

        </div>
{% endblock content %}

