{% extends 'accounts/base.html' %}
{% block content %}

<div class="content">

            <div class="text-center icon">
                <span class="fa fa-html5"></span>
            </div>
            {% if form.errors %}
    <!-- Error messaging -->
    <div id="errors">
        <div class="inner">
            {{ form.non_field_errors }}
            <ul>
                {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /Error messaging -->
{% endif %}
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Reset Password</legend>
           <!-- {{ form.as_p }} -->
            <div class="field-group">
            <span class="fa fa-lock" aria-hidden="true"></span>
            <div class="wthree-field">
                <input name="new_password1" id="myInput" type="Password" placeholder="Password">
            </div>
        </div>

        <div class="field-group">
            <span class="fa fa-lock" aria-hidden="true"></span>
            <div class="wthree-field">
                <input name="new_password2" id="myInput" type="Password" placeholder="Confirm Password">
            </div>
        </div>
        </fieldset>

        <div class="wthree-field">
            <button type="submit" class="btn">Reset Password</button>
        </div> 
    </form>
</div>
{% endblock %}
</div>