{% extends 'accounts/base.html' %}
{% block content %}
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Reset Password</legend>
           {{ form.as_p }}
           <!--<div class="field-group">
            <span class="fa fa-lock" aria-hidden="true"></span>
            <div class="wthree-field">
                <input name="password1" id="myInput" type="Password" placeholder="Password">
            </div>
        </div>

        <div class="field-group">
            <span class="fa fa-lock" aria-hidden="true"></span>
            <div class="wthree-field">
                <input name="password2" id="myInput" type="Password" placeholder="Password">
            </div>
        </div>
        </fieldset>-->

        <div class="wthree-field">
            <button type="submit" class="btn">Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}
