{% extends 'accounts/base.html' %}
{% block content %}
<div class="main">
<section class="organic-breadcrumb" id="productpage_header">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                  <span style="padding-left: 50%; padding-right: 50%">
                      <div class="col-first">
                        <h1>Password change</h1>
                      </div>
                        </span>
                      </div>
            </div>
    </section>

<div class="content">
    <form method="POST">
        {% csrf_token %}
        <div class="field-group">
            <span class="fa fa-email" aria-hidden="true"></span>
            <div class="wthree-field">
                <input name="email" id="myInput" type="fa-email" placeholder="email">
            </div>
        </div>

         <div class="wthree-field">
            <button type="submit" class="btn">
               Request Password reset
           </button>
        </div>
    </form>
</div>
</span>
</div>
{% endblock %}
