{% extends "handy/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/settings.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.lazyselect').select2();
        });
    </script>
</head>

<section class="organic-breadcrumb" id="productpage_header">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Change Account Information</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'handy-home' %}">Home &emsp;</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="content-section">
    <div class="links">
        <div class="div1">
            <a href="{% url 'profile_picture' %}" class="example">
                <img class="pic" src="{{user.profile.profile_pic.url}}" alt="Change Profile Picture" width="250"
                    height="250">
                <div class="content">
                    <div class="text">Change<br>
                        Profile<br>
                        Picture</div>
                </div>
            </a>
        </div>
    </div>
    <div class="form">
        <form method="POST">
            <legend>Update Details</legend>
            {% csrf_token %}
            {% comment %} {{u_form|crispy}} {% endcomment %}
            {{p_form|crispy}}
            <a class="change-password" href="{% url 'password_change' %}">
                <button type="button">Change Password</button>
            </a>
            <button type="submit">Make Changes</button>
        </form>
    </div>
</section>

{% endblock content %}