{% extends 'handy/base.html' %}

{% block content %}

	<section class="organic-breadcrumb" id="productpage_header">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Search Results</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'handy-home' %}">Home &emsp;</a>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<!-- <a href="filter/home decor">Home Decor</a> -->

	<div class="container-fluid" style="margin-top: 50px; max-width:1300px">
		<div class ="row">
			 <div class="col-xl-4">
			 	<div class="sidebar-categories">
			 		<div class="head">Browse Categories</div>
			 			<ul class="main-categories">
			 				{% for category in categories %}
			 					<li class="main-nav-list">
			 						<a href="/search/filter/{{category}}">{{category}}</a>
			 					</li>
			 				{% endfor %}		 				
			 			</ul>
			 	</div>
			 </div>
			<div class="col-xl-8">
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div>
				</div>
		<section class="lattest-product-area pb-40 category-list">
			<div class="row">
			{% for product in products %}
				<div class="col-lg-4 col-md-6">
					<div class="single-product">
					   <div class="">
							<a href="/product/{{ product.id }}">
								<img class="img-responsive" src="{{ product.image }}" alt="" height="300px" width="600px">
							</a>

							<div class="product-details">
								<div class="producttitle">
									<h6>{{ product.name }}</h6>
								</div>
								<div class="price">
										<h6>${{ product.price }}</h6>
								</div>
								<div class="prd-bottom">
									<a href="/cart/{{ product.id }}" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">to cart</p>
									</a>
									<a href="/wishlist/{{ product.id }}" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
								</div>
							</div>
			        	</div>
				 	</div>
		 		</div>
			{% endfor %}
			</div>
		</section>
	</div>
</div>
</div>

{% endblock content %}