{% extends "accounts/navbar.html" %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}

<header class="dashboard">
    <div class="details">
        <img class="pic" src="{{user.profile.profile_pic.url}}" alt="" width="100" height="100"><br>
        <li>Hello {{user.profile.first_name}} {{user.profile.last_name}}</li>
    </div>
    <div class="functions">
        <li>My Orders</li>
        <li>My Wishlist</li>
        <li><a href="{% url 'settings' %}">settings</a></li>
    </div>
    {% comment %} <a href="{% url 'addpropic' %}">Add profile picture</a> {% endcomment %}
</header>

<footer>
    <a href="{% url 'logout' %}">Logout</a>
</footer>

{% endblock content %}