body {
    background-color: black;
}

/* div {
    border: 1px black solid;
} */

.content-section {
    background-color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    padding-left: 50px;
    margin-right: 80px;
    block-size: 600px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

form {
    color: black;
    font-weight: bold;
    padding: 50px;
}

.helptext ul{
    opacity: 0.5;
    margin-bottom: 20px;
}

input {
    width: 200px;
}

input:focus {
    width: 250px;
    transition: all 0.1s ease-in;
}

#id_old_password{
    margin-right: 900px;
    margin-bottom: 20px;
}

#id_new_password1{
    margin-right: 900px;
    margin-bottom: 20px;
}

#id_new_password2{
    margin-right: 900px;
    margin-bottom: 30px;
}

.errorlist::after { 
    content: "\A"; 
    white-space: pre; 
} 
