<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login In</title>
</head>
<body>
        <div>
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Log In</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Login</button>
                <small>
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
            <div>
             <small>Don't have an account? <a href="{% url 'signup' %}">Sign Up Now</a></small>
        </div>
        </form>
    </div>
</body>
</html>