{% extends 'handy/base.html' %}
{% load ratings %}
{% block content %}

	<section class="organic-breadcrumb" id="productpage_header">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'handy-home' %}">Home &emsp;</a>
						<a href="/product/{{ object.pk }}">Product-Details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<div class="product_image_area mb-5">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ object.image.url }}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ object.image.url }}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ object.image.url }}" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{ object.name }}</h3>
						<h2>${{ object.price }}</h2>
						<ul class="list">
							<li><a class="active" href="/artisan/{{ object.artisan_id.pk }}"><span>Artisan</span> : {{ object.artisan_id.name }}</a></li>
							<li><a href="#"><span>Category</span> : {{ object.category.category }}</a></li>
							<li><a href="#"><span>Availibility</span> : {{ object.availability }}</a></li>
						</ul>
						<p>{{ object.description|linebreaksbr }}</p>
					</div>
					<a href="/cart/{{ object.pk }}">
						<button type="button" class="btn btn-warning btn-lg btn-block">
							<p>Add to cart</p>
						</button>
					</a>
					{% ratings object %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}


